#Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5000

#Database
MONGO_URL=

#JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
hET_REFRESH_EXPIRES_in=7d

#EMAIL (Nodemailer)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=